@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Login And Sign Up Pages Starts here */
.wrapper-container {
  display: flex;
  height: 100vh;
  margin: auto;
  padding: 10% 10%;
  justify-content: center;
  align-items: center;
}

.side-image img {
  width: 100;
  height: auto;
  max-width: 100%;
  display: block;
}
.form-container {
  width: 370px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  /* margin: 1rem 2rem;  */
}

.form-container label {
  font-weight: 400;
  font-size: 1rem;
  margin: 0.9rem 0 0.3rem 0;
}
.form-container label i {
  color: red;
}
.form-container .heading {
  font-size: 2rem;
  font-weight: 700;
}

.form-container input {
  padding: 0.9rem 0.6rem;
  margin-bottom: 0.5rem;
  width: 100%;
  border: 1px solid #8e8e93;
  border-radius: 8px;
}
.form-container i {
  color: #8e8e93;
}

.form-container .grey-text {
  color: #8e8e93;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

.form-container a {
  color: #344054;
  font-weight: 400;
  font-size: 1rem;
  color: #0948b4;
}

.password-with-eye {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8e93;
  border-radius: 8px;
  margin-bottom: 0.8rem;
}

.password-with-eye input {
  border: none;
  margin: 0;
}

.password-with-eye input:focus {
  outline: none;
}

.password-with-eye i {
  margin-right: 0.9rem;
  color: #8e8e93;
}

.login-button {
  background-color: #f3bd00;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 100px;
  margin: 0.75rem 0;
}

.google-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  min-width: 100%;
  font-size: 1rem;
  font-weight: 500;
  align-self: center;
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  box-shadow: 1px 4px 4px 0px #0000000d;
  margin: 0.25rem 0 1.8rem 0;
  align-content: center;
}

.google-button img {
  height: 30px;
  margin-right: 1rem;
}

.grey-text {
  text-align: center;
}

.terms-checkbox {
  margin: auto;
  padding: 0.2rem 0 1.2rem 0;
}
.terms-checkbox input {
  width: 20%;
}

#errorEmail,#error-name,#error-pass {
  color: red;
  text-align: center;
}

.center-text {
  text-align: center;
}

/* Login and Signup Page ends here  */

/* Dashboard Page Starts here */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #f5f5f5;
  border-bottom: 1px solid #cbcbcb;
  padding: 0 3.6rem;
}

.links-profile ul {
  /* width: 250px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-profile ul li {
  list-style-type: none;
}

.links-profile ul li:nth-child(-n + 2) {
  font-weight: 500;
  padding-right: 30px;
  /* color: red; */
}

.heading-section {
  margin: 1rem 2.5rem;
}

.heading-section h2 {
  font-size: 32px;
  font-weight: 700;
  color: #1c1c1e;
}

.heading-section ul .grey-text {
  color: #8e8e93;
  font-size: 12px;
}

.heading-section ul li {
  margin-left: 1.4rem;
}

.start-section {
  display: flex;
  justify-self: center;
  margin: 40px;
  background-color: #fefefe;
}

.container {
  border-radius: 12px;
  box-shadow: 0px 20px 40px 0px #1c1c1e1a;
  padding: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container * {
  margin-top: 10px;
}

/* Dashboard Page Ends here */

/* Question Page */
.question-section {
  margin: 20px;
  padding: 0 20px;
  height: 70vh;
}

.question-numbers {
  font-size: 40px;
}
.progress-bar {
  width: 10%;
  height: 2vh;
  background-color: #f3bd00;
  border-radius: 16px;
  margin: 10px 0;
}

.question-option label {
  font-size: 28px;
  font-weight: 600;
}
.question-option ul li {
  margin: 8px 0;
  list-style-type: none;
  font-size: 20px;
  font-weight: 500;
}

.question-nagivation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  background-color: transparent;
}

.question-nagivation-buttons button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #0948b4;
}

.question-nagivation-buttons button:hover {
  background-color: #bfbfc5;
}

.exitQuiz{
  cursor: pointer;
}



/* Question Page Ends Here */
